<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035893600391-4nqnvnvh1ob06ansmekbr1tsgtu0g02o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035893600391-4nqnvnvh1ob06ansmekbr1tsgtu0g02o</string>
	<key>API_KEY</key>
	<string>AIzaSyAlr2U2fBzCbDlrN-2xOpI3z-bu02pxXaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1035893600391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMapsInFlutter</string>
	<key>PROJECT_ID</key>
	<string>pvt15-car-spotting</string>
	<key>STORAGE_BUCKET</key>
	<string>pvt15-car-spotting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035893600391:ios:f3bb56a10330d9c9f3c822</string>
</dict>
</plist>